@charset "UTF-8";

:root {
  /* Colors */
  --primary-color: #0054ae;
  --primary-hover-color: #3a7cc8;
  --primary-dark-color: #003366;
  --secondary-color: #f1b51c;
  --text-color-dark: #212529;
  --text-color-light: #fff;
  --text-color-medium: #555;
  --background-color-light: #fff;
  --background-color-main: whitesmoke;
  --background-color-mobile: #EEF5FC;
  --border-color-light: #d6d6d6;
  --border-color-medium: #c0c0c0;
  --danger-color: #58151c;
  --danger-background: #f8d7da;
  --danger-border: #f1aeb5;
  --black: #000;

  /* Font Sizes */
  --font-size-xs: 11px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 2rem;
  --font-size-responsive-xl: calc(1.325rem + .9vw);
  --font-size-bootstrap-base: 1rem;

  /* Other */
  --font-family-base: 'Open Sans', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  margin: 0 auto;
  background-size: cover;
  overflow: hidden;
  font-family: var(--font-family-base);
  height: 100%;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  overflow: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.login-container {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 60% 1fr;
  grid-template-areas:
    "sidebar content";
  gap: 0;
  max-inline-size: 100%;
  align-items: stretch;
  justify-items: stretch;
}

.titles {
  color: var(--primary-color);
}

.caps-badge {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--secondary-color);
  color: black;
  border-radius: 4px;
  font-size: var(--font-size-xs);
  font-weight: bold;
  padding: 4px 8px;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.caps-badge.visible {
  opacity: 1;
  pointer-events: auto;
}

.caps-badge.with-show-button {
  right: 50px;
}

.panel {
  width: 500px;
  max-width: 520px;
  margin: auto;
  font-size: var(--font-size-base);
  font-family: var(--font-family-base);
  font-weight: 600;
}

.content-panel {
  padding: 1.5rem;
  background: transparent;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-radius: 25px;
}

.show-password-icon {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 10px;
  display: none;
}

.show-password-icon.visible {
  display: inline-flex;
}

.signUp-panel {
  margin-top: 1em;
}

#btnLogin {
  border: 1px solid var(--primary-color);
  color: var(--text-color-light);
  letter-spacing: 0.1rem;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  font-size: var(--font-size-lg);
  background: var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  line-height: 1;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#btnLogin:hover {
  border: 1px solid var(--primary-hover-color);
  background: var(--primary-hover-color);
  outline: 0;
  color: var(--text-color-light);
}

#btnLogin:disabled {
  opacity: 0.5;
  border: 1px solid var(--primary-color);
  color: var(--text-color-light);
  background: var(--primary-color);
  cursor: auto;
}

@media (min-width: 1200px) {

  .h2,
  h2 {
    font-size: var(--font-size-xl);
  }
}

.h2,
h2 {
  font-size: var(--font-size-responsive-xl);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: var(--font-size-sm) ;
  color: var(--primary-color);
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: var(--primary-dark-color);
  text-decoration: underline;
}

.control-group {
  margin-bottom: 20px !important;
}

.form-group {
  margin-bottom: 0 !important;
}

.alert-danger {
  font-family: var(--font-family-base);
  margin-top: 10px;
  padding: 0.4rem 1rem !important;
  min-height: 35px;
  font-size: var(--font-size-sm);
  text-align: center;
}

.danger-icon {
  position: absolute;
  left: 10px;
}

.danger-span {
  padding-left: 10px;
}

input {
  width: 100%;
  border: 1px solid var(--border-color-light);
  background: var(--background-color-light);
  color: var(--text-color-medium);
  border-radius: 4px;
  transition: 0.2s;
  height: 38px;
  padding-left: 35px;
  font-size: var(--font-size-base);
}

/* Hide browser's default password reveal button */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-password-reveal {
  display: none;
}

.input-icon {
  position: absolute;
  display: inline-flex;
  left: 5px;
  top: 9px;
  opacity: 0.5;
}

input:hover {
  border-color: var(--border-color-medium);
}

input:focus {
  outline: 0 none;
  border-color: var(--border-color-medium);
  -moz-box-shadow: 0px 0px 5px var(--border-color-medium);
  -webkit-box-shadow: 0px 0px 5px var(--border-color-medium);
  box-shadow: 0px 0px 5px var(--border-color-medium);
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.col {
  flex: 1 0 0%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .mb-sm-3 {
    margin-bottom: 1rem !important;
  }
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.password-input-group {
  width: 100%;
}

.input-group>.form-control,
.input-group>.form-select {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: .25rem !important;
}

.mb-2 {
  margin-bottom: .5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.ms-2 {
  margin-left: .5rem !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.text-center {
  text-align: center !important;
}

.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1rem;
  --bs-alert-padding-y: 1rem;
  --bs-alert-margin-bottom: 1rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.375rem;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
}

.alert-danger {
  --bs-alert-color: var(--danger-color);
  --bs-alert-bg: var(--danger-background);
  --bs-alert-border-color: var(--danger-border);
  display: none;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: var(--font-size-bootstrap-base);
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--text-color-dark);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: var(--text-color-dark);
}

.btn-check:focus+.btn,
.btn:focus {
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  pointer-events: none;
  opacity: var(--bs-btn-disabled-opacity);
}

.btn-icon {
  width: 1em;
  height: 1em;
  margin-left: 0.5rem;
  vertical-align: -0.125em;
  fill: currentColor;
}

.sidebar {
  grid-area: sidebar;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  align-self: stretch;
  width: auto;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.content {
  grid-area: content;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
  width: auto;
  z-index: 1;
  /* background-color: linear-gradient(220deg, #1dc5d6 15%, #1c7ade 100%) no-repeat right; */
  background: var(--background-color-main);
  display: flex;
}

.loginBackground {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.logos {
  height: 70px;
}

@media (max-width: 1024px) {
  .headerSpace {
    margin-top: 3rem;
  }

  .login-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "content";
  }

  .sidebar {
    display: none;
  }

  .content {
    display: unset;
    background: var(--background-color-mobile);
  }

  .content-panel {
    background: var(--background-color-light);
    box-shadow: 3px 6px 10px 0px rgba(100, 100, 100, 0.3);
  }
}

@media (max-width: 768px) {

  #euLogo,
  #cyLogo,
  #fundsLogo {
    height: 60px !important;
  }

  .panel {
    width: 98%;
  }
}

@media (max-width: 640px) {
  .headerSpace {
    margin-top: 1.5rem;
  }
}

@media (max-width: 425px) {
  .danger-icon {
    top: 18px;
  }

  .danger-span {
    padding-left: 30px;
  }
}

.password-group {
  width: 100%;
}

.show-password-button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.signup-text {
  font-size: var(--font-size-sm);
}